{% load cms_tags menu_tags sekizai_tags staticfiles %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="{% static 'litchee.cn.css' %}" rel="stylesheet" type="text/css">
        <title>
            {% block title %}This is my new project home page{% endblock title %}
        </title>
        {% render_block "css" %}
    </head>
    <body>
        {% cms_toolbar %}

        <!-- NAVBAR -->
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-default" href="index.html">
                                <span><img alt="Brand" src="{% static 'image/brand.png' %}"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% show_menu 0 100 100 100 %}
                    </ul>
                </div>
            </div>
        </div>
        <!-- END NAVBAR -->

            {% block "content" %}{% endblock "content" %}
        
        <!-- FOOTER -->
        <footer class="section color colorvi">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h1 class="colortext">Litchee Lab</h1>
                        <p class="colortext">设计 ／ 制作 ／ 分享</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="text-info text-right">
                            <br>
                            <br>
                        </p>
                        <div class="row">
                            <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
                                <a id="popover1" class="btn" rel="popover" data-content="" title="请使用微信扫描"><i class="fa fa-3x fa-fw text-inverse fa-wechat"></i></a>
                                <a href="#" class="btn"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                                <a href="#" class="btn"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                                <a href="#" class="btn"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 hidden-xs text-right">
                                <a id="popover2" class="btn" rel="popover" data-content="" title="请使用微信扫描"><i class="fa fa-3x fa-fw text-inverse fa-wechat"></i></a>
                                <a href="#" class="btn"><i class="fa fa-3x fa-fw text-inverse fa-weibo"></i></a>
                                <a href="#" class="btn"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                                <a href="#" class="btn"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        {% render_block "js" %}
        <!-- END-FOOTER --> 
    <script>
        var image =  '<img src={% static "image/WechatIMG383.jpeg" %} class="img-responsive center-block">';
        $('#popover1').popover({placement: 'top', content: image, html: true });
        $('#popover2').popover({placement: 'top', content: image, html: true });
    </script>
    </body>
</html>

