{% extends "base.html" %}
{% load cms_tags staticfiles %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block "content" %}

<!-- SECTION OPEN PROJECTS HEADER -->
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="page-header text-left">
                            {% placeholder "Opn-Prj-Header" or %}
                                <h1>Open Projects
                                <small>Subtext for header</small>
                                </h1>
                            {% endplaceholder %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- END SECTION OPEN PROJECTS HEADER -->

<div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        {% placeholder "Section1-img" or %}
                        	<img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive">
                    	{% endplaceholder %}
                    </div>
                    <div class="col-md-6">
                        {% placeholder "Section1-txt" or %}
	                        <h1>A title</h1>
	                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
	                            ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
	                            dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
	                            nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
	                            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In
	                            enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
	                            felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus
	                            elementum semper nisi.</p>
                        {% endplaceholder %}
                    </div>
                </div>
            </div>
        </div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {% placeholder "Section2-img" or %}
                	<img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive">
            	{% endplaceholder %}
            </div>
            <div class="col-md-6">
                {% placeholder "Section2-txt" or %}
                    <h1>A title</h1>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                        ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
                        dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
                        nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                        Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In
                        enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
                        felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus
                        elementum semper nisi.</p>
                {% endplaceholder %}
            </div>
        </div>
    </div>
</div>

<!-- SECTION SEC1 BUTTON  -->
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        {% placeholder "SEC1-Button" or %}
                            <a class="btn btn-block btn-warning colorvi">More</a>
                        {% endplaceholder %}
                    </div>
                </div>
            </div>
        </div>
<!-- END SECTION SEC1 BUTTON -->



<!-- SECTION NEWS HEADER -->
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="page-header text-left">
                            {% placeholder "News-Header" or %}
                                <h1>News
                                <small>Subtext for header</small>
                                </h1>
                            {% endplaceholder %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- END SECTION NEWS HEADER -->

<div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        {% placeholder "Section3-img" or %}
                        	<img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive">
                    	{% endplaceholder %}
                    </div>
                    <div class="col-md-6">
                        {% placeholder "Section3-txt" or %}
	                        <h1>A title</h1>
	                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
	                            ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
	                            dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
	                            nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
	                            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In
	                            enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
	                            felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus
	                            elementum semper nisi.</p>
                        {% endplaceholder %}
                    </div>
                </div>
            </div>
        </div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {% placeholder "Section4-img" or %}
                	<img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive">
            	{% endplaceholder %}
            </div>
            <div class="col-md-6">
                {% placeholder "Section4-txt" or %}
                    <h1>A title</h1>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                        ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
                        dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
                        nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                        Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In
                        enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
                        felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus
                        elementum semper nisi.</p>
                {% endplaceholder %}
            </div>
        </div>
    </div>
</div>


<!-- SECTION NEWS BUTTON  -->
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        {% placeholder "NEWS-Button" or %}
                            <a class="btn btn-block btn-warning colorvi">More</a>
                        {% endplaceholder %}
                    </div>
                </div>
            </div>
        </div>
<!-- END SECTION NEWS BUTTON -->

{% endblock "content" %}