{% extends "base.html" %}

{% load cms_tags staticfiles %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block "content" %}
   <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12"></div>
        </div>
      </div>
    </div>
	<div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">            
            <img src="{% static 'image/logo1.png' %}" class="center-block img-circle img-responsive">
            <h3 class="text-center">创客空间</h3>
            <p class="text-center text-muted">你是Freelancer或者追梦的年轻人？
              <br>在创客空间找到你的族群
              <br>开始自己做主的职业生涯</p>
          </div>
          <div class="col-md-4">
            <img src="{% static 'image/logo2.png' %}" class="center-block img-circle img-responsive">
            <h3 class="text-center">创客教育</h3>
            <p class="text-center text-muted">与青少年一起unbox科技的强大创造力
              <br>认识现代科技如何创造我们的世界
              <br>寻找未来职业的可能性</p>
          </div>
          <div class="col-md-4">
            <img src="{% static 'image/logo3.png' %}" class="center-block img-circle img-responsive">
            <h3 class="text-center">创客社区</h3>
            <p class="text-center text-muted">与你息息相关的人都在做什么？
              <br>在这里了解社区新闻
              <br>和寻找项目的队友吧</p>
          </div>
        </div>
      </div>
    </div>
     <div class="section">
      <div class="container">
        <embed src="https://imgcache.qq.com/tencentvideo_v1/playerv3/TPout.swf?max_age=86400&amp;v=20161117&amp;vid=t0168u14wmd&amp;auto=0" allowfullscreen="true" quality="high" width="100%" height="400" align="middle" allowscriptaccess="always" type="application/x-shockwave-flash">
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="{% static 'image/WechatIMG31.jpg' %}" class="img-responsive">
          </div>
          <div class="col-md-6">
            <h1>创客空间</h1>
            <p>Litchee Lab是一个配备了全套数字设计与制造设备的实验室。16年获得Fablab认证，加入全球超过700+的Fablab网络。这里为你提供支持你科技创造力探索的课程、设备与活跃的国际性社区，无论你是谁，总能找到一个舒服的位置开始折腾。</p>
            <a class="btn btn-warning colorvi" href="makerspace.html">查看更多</a>
          </div>
        </div>
      </div>
    </div>
   
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1>创客教育</h1>
            <p>通过创客教育，我们希望青少年能够在成长的过程中认识和学会运用科技的创造力。直接的基于现实需求的设计和制作体验可以帮助青少年更容易在需要创造力的岗位获得成功。历时三年，Litchee
              Lab核心团队形成了从Litchee Academy通识课程，到学生个人项目定制，到成人MIT Fab Academy一整套的成长计划，助你与现实接轨，与国际接轨。</p>
            <a class="btn btn-warning colorvi" href="makerEd.html">查看更多</a>
          </div>
          <div class="col-md-6">
            <img src="{% static 'image/WechatIMG23.jpg' %}" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="{% static 'image/IMG_3678.jpg' %}" class="img-responsive">
          </div>
          <div class="col-md-6">
            <h1>创客社区</h1>
            <p>呼朋唤友，结队而行。创客社区是你发布和寻找创客项目的地方。在这个发布一个你希望进行的项目，招募成员，共同学习；或者找一个导师发布的项目进行项目研究。定义你自己的学习经验，从认识社区开始。</p>
            <a class="btn btn-warning colorvi" href="communities.html">查看更多</a>
          </div>
        </div>
      </div>
    </div>
	
{% endblock "content" %}
