{% extends "base.html" %}
{% load cms_tags staticfiles %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block "content" %}

<div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div id="fullcarousel-example" data-interval="false" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="item active">
                    <img src="{% static 'image/makerspace.jpg' %}">
                  <div class="carousel-caption"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
              <img src="{% static 'image/makerspace-1.jpg' %}" class="img-responsive" width="100%">
          </div>
        </div>
      </div>
    </div>
    <a name="equipments">
    <div class="section">
      <div class="container">
        <div class="row">
          
          <div class="col-md-12 text-center">
            
            <div class="page-header text-left">
              <h1>Equipments
                <small>空间设备</small>
              </h1>
            </div>
          </div>
            
        </div>
      </div>
    </div>
      </a>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <a> <img src="{% static 'image/e1.png' %}" class="center-block img-responsive"></a>
            <h2 class="text-center" contenteditable="true">激光切割机</h2>
          </div>
          <div class="col-md-4">
            <a> <img src="{% static 'image/e2.png' %}" class="center-block img-responsive"></a>
            <h2 class="text-center">CNC</h2>
          </div>
          <div class="col-md-4">
            <a> <img src="{% static 'image/e3.png' %}" class="center-block img-responsive"></a>
            <h2 class="text-center">喷漆工作站</h2>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <div class="col-md-4">
              <a> <img src="{% static 'image/e4.png' %}" class="center-block img-responsive"></a>
              <h2 contenteditable="true" class="text-center">3D打印机</h2>
            </div>
            <div class="col-md-4">
              <a> <img src="{% static 'image/e5.png' %}" class="center-block img-responsive"></a>
              <h2 class="text-center">台钻</h2>
            </div>
            <div class="col-md-4">
              <a> <img src="{% static 'image/e6.png' %}" class="center-block img-responsive"></a>
              <h2 class="text-center">刻绘机</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <a> <img src="{% static 'image/e7.png' %}" class="center-block img-responsive"></a>
              <h2 class="text-center">锯铝机</h2>
              <h2 class="text-center"></h2>
            </div>
            <div class="col-md-4">
              <a> <img src="{% static 'image/e8.png' %}" class="center-block img-responsive"></a>
              <h2 class="text-center">缝纫机</h2>
            </div>
            <div class="col-md-4">
              <a> <img src="{% static 'image/e9.png' %}" class="center-block img-responsive"></a>
              <h2 class="text-center">焊接工作站</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <a> <img src="{% static 'image/e10.png' %}" class="center-block img-responsive"></a>
            <h2 class="text-center">电源</h2>
            <h2 class="text-center"></h2>
          </div>
          <div class="col-md-4">
            <a> <img src="{% static 'image/e11.png' %}" class="center-block img-responsive"></a>
            <h2 class="text-center">全套手工木工工具</h2>
          </div>
          <div class="col-md-4">
            <a> <img src="{% static 'image/e12.png' %}" class="center-block img-responsive"></a>
            <h2 class="text-center">打印扫描一体机</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="section"></div><div class="section">
      <div class="container">
        <div class="page-header text-left">
          <h1>Resources
            <small>资源池</small>
          </h1>
        </div>
      </div>
    </div>
   
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                     <img src="{% static 'image/makerdic.png' %}" class="img-responsive" width="100%">
                  </div>
                  <div class="col-md-6">
                    <h1>Maker Dic</h1>
                    <h3 class="text-muted">发起人： Janek Mann</h3>
                    <p>Maker Dictionary是一个旨在为在深进行项目开发的国际创客提供电子／机械／设计等创客相关领域有用信息的资源库。国际创客可以通过这个资源库，快速地获得其他国际创客在深进行项目开发的经验，也可以添砖加瓦，将自己学习到的宝贵经验分享给更多的人。</p>
                    <a class="btn btn-default" href="https://github.com/makerdic/makerdic/wiki">More</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="section">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                     <img src="{% static 'image/silicone.png' %}" class="img-responsive" width="100%">
                  </div>
                  <div class="col-md-6">
                    <h1>硬件硅谷</h1>
                    <h3 class="text-muted">发起人： Wired UK</h3>
                    <p>深圳在全球性的创客运动当中举足轻重。为什么会这样？深圳的机遇和挑战是什么？在国际协作的游戏当中又扮演一个怎样的角色，Wired UK做的这个纪录片给你答案。</p>
                    <a class="btn btn-default" href="http://www.wired.co.uk/video/shenzhen-full-documentary/">More</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="section">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                     <img src="{% static 'image/makerdic.png' %}" class="img-responsive" width="100%">
                  </div>
                  <div class="col-md-6">
                    <h1>Fablab地图</h1>
                    <h3 class="text-muted">发起人： Fab Foundation</h3>
                    <p>以设计文件的传递取代物理原子的传递，全球逾700家的Fablab正试图建立生产本地化的经济模式。这个网络都有哪些成员，他们又如何协作？从Fablab地图开始，从我们开始，接入这个新的潮流吧。</p>
                    <a class="btn btn-default" href="https://www.fablabs.io/">More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock "content" %}