{% extends "base.html" %}
{% load cms_tags staticfiles %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block "content" %}

<div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div id="fullcarousel-example" data-interval="false" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="item">
                    <img src="{% static 'image/WechatIMG16.jpg' %}">
                  <div class="carousel-caption">
                    <h2>Title</h2>
                    <p>Description</p>
                  </div>
                </div>
              </div>
              <a class="left carousel-control" href="#fullcarousel-example" data-slide="prev"><i class="icon-prev fa fa-angle-left"></i></a>
              <a class="right carousel-control" href="#fullcarousel-example" data-slide="next"><i class="icon-next fa fa-angle-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
             <img src="{% static 'image/makerEd-01.jpg' %}" class="center-block img-responsive">
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center" contenteditable="true">解锁你的科技创造力</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <h3 contenteditable="true" class="text-center text-muted">从认知到成长成为可独立进行项目设计与实施的创客
                    <div>我们是你成长路上的引路者</div>
                    <div>助你找到未来求学及职业的方向</div>
                  </h3>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                   <img src="{% static 'image/体系-02.jpg' %}" class="center-block img-responsive">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
             <img src="{% static 'image/skilltree.png' %}" class="center-block img-responsive">
          </div>
          <div class="col-md-6">
            <h1 class="text-danger">Litchee Academy</h1>
            <h3 class="text-muted">8-12 岁综合科技创造能力培养计划</h3>
            <p>Litchee Academy是一个为期两年，旨在培养 8-14岁青少年 综合性科技创造能力的课程。由Litchee Lab活跃于国际社区的核心团队研发，课程主题涵盖制造工艺，编程，电子硬件及数字设计四个常用且流行的科技主题。适合将来有志于从事创造性职业，如产品设计，电脑科学，电子硬件，机械设计等设计及工程类岗位的学生。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="text-danger">综合性课题研究</h1>
            <h3 class="text-muted">项目式学习实践</h3>
            <p>研究一台真实的机器，或者为社区的一个需求设计一个解决方案。综合性课题旨在带领学生形成从调研开始完整的项目式学习的能力，为将来独立进行项目设计做准备。</p>
          </div>
          <div class="col-md-6">
             <img src="{% static 'image/project2.png' %}" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
             <img src="{% static 'image/project3.png' %}" class="img-responsive">
          </div>
          <div class="col-md-6">
            <h1 class="text-danger">个人设计</h1>
            <h3 class="text-muted">设计/工程类专业升学个人作品集</h3>
            <p>一个漂亮的个人履历是进入优质大学的强有力背书。对于设计及工程类学生而言，在面试前进行个人作品集的积累有助于加深学生即将选择的专业的认知，以及证明个人能力。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section" id="member">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="page-header">
              <h1>Student Projects &nbsp;
                <font color="#777777">
                  <span style="font-size: 23.3999996185303px; line-height: 23.3999996185303px;">学生项目</span>
                </font>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <a> <img src="{% static 'image/student1.png' %}" class="center-block img-responsive"></a>
            <h2 class="text-center">人像海报设计</h2>
            <p class="text-center">使用XY绘图仪作为输出，对人物肖像进行个性化处理，得到效果有趣，富艺术性的人像海报
              <br>
            </p>
            <a class="btn btn-block btn-link">Click me</a>
          </div>
          <div class="col-md-4">
            <a> <img src="{% static 'image/students.png' %}" class="center-block img-responsive"></a>
            <h2 class="text-center">社区碎片</h2>
            <p class="text-center">残破的台阶，如何可以令它重现生机？使用数字设计的技术，定制各个缺失角落的碎片，为社区加入了新的颜色</p>
            <a class="btn btn-block btn-link">Click me</a>
          </div>
          <div class="col-md-4">
            <a> <img src="{% static 'image/student4.png' %}" class="center-block img-responsive"></a>
            <h2 class="text-center">“翻译”现实</h2>
            <p class="text-center">通过编程，链接现实与虚拟，将现实“翻译”到游戏的虚拟世界当中。</p>
            <a class="btn btn-block btn-link">Click me</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="container"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <a> <img src="{% static 'image/student2.png' %}" class="center-block img-responsive"></a>
            <h3 class="text-center">折纸城市</h3>
            <p class="text-center">使用popup book为载体，通过数字设计与激光切割制造出特别的折纸效果。</p>
            <a class="btn btn-block btn-link">Click me</a>
          </div>
          <div class="col-md-4">
            <a> <img src="{% static 'image/student6.png' %}" class="center-block img-responsive"></a>
            <h3 class="text-center">灯饰设计</h3>
            <p class="text-center">怎样的环境需要怎样的灯饰呢？灯饰加上手工艺，成为你环境当中独一无二的点缀。&nbsp;</p>
            <a class="btn btn-block btn-link">Click me</a>
          </div>
          <div class="col-md-4">
            <a> <img src="{% static 'image/student5.png' %}" class="center-block img-responsive"></a>
            <h2 class="text-center">喷绘T-shirt</h2>
            <p class="text-center">设计你想要的独特的图案，然后通过蒙版转印的方法，获得一件独一无二的T-shirt</p>
            <a class="btn btn-block btn-link">Click me</a>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <a class="btn btn-block btn-warning colorvi">More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="page-header text-left">
              <h1>Partners &nbsp;
                <font color="#777777">
                  <span style="font-size: 23.3999996185303px; line-height: 23.3999996185303px;">合作伙伴</span>
                </font>
              </h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div id="carousel-example" data-interval="false" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="hidden-md item">
                         <img src="{% static 'image/makerspace.jpg' %}">
                      </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-example" data-slide="prev"><i class="fa fa-angle-left icon-prev text-inverse"></i></a>
                    <a class="right carousel-control" href="#carousel-example" data-slide="next"><i class="icon-next fa fa-angle-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12"></div>
    <div class="col-md-12"></div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <a> <img src="{% static 'image/fab.png' %}" class="img-responsive"></a>
          </div>
          <div class="col-md-3">
            <a> <img src="{% static 'image/bclogo.png' %}" class="img-responsive"></a>
          </div>
          <div class="col-md-3">
            <a> <img src="{% static 'image/valogo.png' %}" class="img-responsive"></a>
          </div>
          <div class="col-md-3">
            <a> <img src="{% static 'image/sida.png' %}" class="img-responsive"></a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <a> <img src="{% static 'image/saislogo.png' %}" class="img-responsive"></a>
          </div>
          <div class="col-md-3">
            <a> <img src="{% static 'image/yucai.png' %}" class="img-responsive"></a>
          </div>
          <div class="col-md-3">
            <a> <img src="{% static 'image/qsi.png' %}" class="img-responsive"></a>
          </div>
          <div class="col-md-3">
            <a> <img src="{% static 'image/ershi.png' %}" class="img-responsive"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container"></div>
    </div>

{% endblock "content" %}